body{
    margin: 3%;
    padding: 0;
    background: url(../img/gif_good.gif);
    background-size: cover;
    font-family: 'Indie Flower', cursive;
}


.corpo{

    padding: 15px;
    color: rgb(238, 234, 236);
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(16, 13, 53);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-bottom: 5px;
    font-size: 20px;
}




.clicar{

    font-family: 'Indie Flower', cursive;
    background: rgba(186, 189, 186, 0.425);
    color: white;
    font-size: 20px;
    width: auto;
    transition: 1s all;
    cursor: pointer;
    font-weight: bold;
    transition: 1s all;
    border-radius: 5px;
}

.clicar:hover{
    background: rgba(91, 92, 91, 0.425);
    transform: scale(1.2);
}

