body{
    margin: 3%;
    padding: 0;
    background: url(gif_good.gif);
    background-size: cover;
}


.formulario{

    padding: 15px;
    color: rgb(238, 234, 236);
    font-weight: bold;
    border-radius: 20px;
    background-color: rgb(16, 13, 53);
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 30%;
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
}


#botao{

    background-color: rgb(220, 224, 220);
    font-size: 15px;
    width: auto;
    transition: 1s all;
    cursor: pointer;

}